/* цвет основного текста #212121*/

/* вторичний цвет текста color: #757575; */

/* белый color: #FFFFFF; */

/* акцент color: #2196F3; */

/* вторичний цвет фона background: #F5F4FA; */

:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --acccent-color: #2196f3;
  --primary-bg-color: #ffffff;
  --primary-white-color: #ffffff;
  --primary-bt-color: #f5f4fa;
  --primary-bg-hero-color: #2f303a;
}

body {
  margin: 0;
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);

  font-family: roboto, sans-serif;
  letter-spacing: 0.03em;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.list a:hover,
.list a:focus {
  color: var(--acccent-color);
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 94px;
  padding-bottom: 94px;
}

img {
  display: block;
  min-width: 100%;
  height: auto;
}

/* page-header */

.page-header {
  padding-top: 0;
  padding-bottom: 0;
}

/* Логотип Шапка */
.web {
  color: var(--acccent-color);
}

.logo {
  color: var(--primary-text-color);
  font-family: Raleway, sans-serif;

  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

/* Логотип Футер */

.footer {
  background-color: var(--primary-bg-hero-color);
}

.footer-logo {
  margin-bottom: 20px;
}

.footer-container {
  padding-top: 60px;
  padding-bottom: 60px;
}

.web-footer {
  color: var(--acccent-color);
}

.studio-footer {
  color: var(--primary-white-color);
}

.footer-auth-nav {
}

.footer .list {
  padding: 0;
}
.footer-list-item {
  margin-bottom: 9px;
}

.footer-list-item:last-child {
  margin-bottom: 0;
}

.location.link {
  color: var(--primary-white-color);

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  margin-bottom: 9px;
}

.footer-contacts.link {
  color: rgba(255, 255, 255, 0.6);

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  margin-bottom: 9px;
}

/* 

/* Main nav */

.main-nav {
  display: flex;
  align-items: center;
}

/* site nav */

.nav-container {
  margin-top: 0;
  margin-bottom: 20px;
}

.auth-nav-container {
  margin-top: 0;
  margin-bottom: 0;
}

.site-nav .item + .item {
  margin-left: 50px;
}

.site-nav {
  display: flex;
  margin-left: 93px;

  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav .list {
  display: block;
}

.site-nav a {
  color: var(--primary-text-color);
}

.site-nav .link.curent {
  color: var(--acccent-color);
}

.auth-nav {
  display: flex;
  margin-left: auto;
}

.auth-nav .item + .item {
  margin-left: 50px;
}

.auth-nav a {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

/* Hero */

.hero {
  background-color: var(--primary-bg-hero-color);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  color: var(--primary-white-color);
  text-transform: uppercase;
}

/* main */

.section {
}

.section-title {
  color: var(--primary-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;

  margin-top: 0;
  margin-bottom: 50px;
}

.features {
  display: flex;
  flex-wrap: wrap;
  color: var(--title-text-color);
}

.features-item {
  width: 270px;
  margin-right: 30px;
}

.features-item:last-child {
  margin-right: 0;
}

.features-text .features-title {
  margin-top: 0;
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.features-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;

  margin-top: 0;
  margin-bottom: 10px;
}

/* Work */

.section-title {
  margin-bottom: 50px;
}

.work-title {
  display: flex;
  align-items: center;
}

.work-title .item {
  margin-right: 30px;
}

/* Team */

.team {
  background-color: var(--primary-bt-color);
  text-align: center;
}

.dream-team {
  display: flex;
  align-items: center;
}

.dream-team .item {
  margin-right: 30px;
}

.team-title {
  color: var(--primary-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 10px;
}

.team-text {
  color: var(--title-text-color);

  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 30px;
}

.card {
  display: block;
}

.card-team {
  background: #ffffff;
  display: block;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  overflow: hidden;
}

.card-image {
  display: block;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

/* Button */

.btn-hero {
  color: var(--primary-white-color);
  background-color: var(--acccent-color);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  min-width: 200;

  padding: 10px 32px;
  display: inline-block;
  align-items: center;
  text-align: center;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.btn-filters {
  color: var(--primary-text-color);
  background-color: var(--primary-bt-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  display: inline-block;
  text-decoration: none;

  padding: 6px 22px;
}

.filters {
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 50px;
}

.filters .item {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  margin-right: 8px;
}

.filters .item:last-child {
  margin-right: 0;
}

.btn-filters:hover,
.btn-filters:focus {
  color: var(--primary-white-color);
  background-color: var(--acccent-color);
}

/* Нашы проэкты */

.project .container {
}

.project {
}

.project-title {
  color: var(--primary-text-color);
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;

  margin-top: 20px;
  margin-bottom: 4px;
  margin-left: 24px;
  margin-right: 24px;

  letter-spacing: 0.06em;
}

.project-text {
  color: var(--title-text-color);
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;

  margin-top: 0px;
  margin-bottom: 20px;
  margin-left: 24px;
  margin-right: 24px;

  letter-spacing: 0.03em;
}

.project-element {
  display: flex;
  flex-wrap: wrap;
}

.project-item {
  width: calc((100%-60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
  width: 370px;
  height: 404px;
}

.project-item:nth-child(3n) {
  margin-right: 0;
}

.project-item:nth-child(n + 7) {
  margin-bottom: 0;
}

.card-project {
  background: #ffffff;
}

.card-project-text {
  box-sizing: border-box;
  display: block;
  overflow: hidden;

  /* Установит стили правой рамки */
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #eeeeee;

  /* Установит стили нинжней рамки */
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #eeeeee;

  /* Установит стили левой рамки */
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #eeeeee;
}

.card-image-project {
}

.portfolio {
  margin-bottom: 94px;
}
